<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg fondomenu">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img
              src="../../assets/img/logoreal.png"
              alt="logo"
              class="img-fluid"
              width="80"
              height="80"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Registrate</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="container">
        <div
          class="row row-cols-1 row-cols-md-5 text-center justify-content-center"
        >
          <div class="col">
            <div class="card p-3">
              <img
                src="../../assets/img/Cojín.jpg"
                alt="producto 1"
                class="img-fluid"
                width="100"
                height="300"
              />
              <h4>Cojín</h4>
              <p>
                Cojines con imágenes inspiradas en nuestra naturaleza, estimula
                tus sentidos llevando la sensibilidad de nuestros paisajes a tu
                hogar. Medidas 30 x 30
              </p>
              <hr />
              <h5 class="fw-bold">$ 45.000</h5>
              <button type="button" class="btn btn-primary">
                Agregar al carrito <i class="bi bi-cart-check-fill"></i>
              </button>
            </div>
          </div>
          <div class="col">
            <div class="card p-3">
              <img
                src="../../assets/img/polainas montaña.png"
                alt="producto 2"
                class="img-fluid"
                width="100"
                height="100"
                h-50
              />
              <h4>Polainas de montaña</h4>
              <p>
                Escala la montaña con comodidad. impermeables a prueba de polvo
                evita que el agua, la lluvia, la nieve, el barro. Disponible en
                todas las tallas
              </p>
              <hr />
              <h5 class="fw-bold">$ 80.000</h5>
              <button type="button" class="btn btn-primary">
                Agregar al carrito <i class="bi bi-cart-check-fill"></i>
              </button>
            </div>
          </div>
          <div class="col">
            <div class="card p-3">
              <img
                src="../../assets/img/cuello o buff.jpg"
                alt="producto 3"
                class="img-fluid"
                width="100"
                height="200"
              />
              <h4>Cuello o buff</h4>
              <p>
                transpirables con imágenes inspiradas en nuestra naturaleza,
                disfruta de una vida activa con la mejor comodidad y protección
                cálida ante el frío, la lluvia o el polvo. Talla unica
              </p>
              <hr />
              <h5 class="fw-bold">$ 25.000</h5>
              <button type="button" class="btn btn-primary">
                Agregar al carrito <i class="bi bi-cart-check-fill"></i>
              </button>
            </div>
          </div>
          <div class="col">
            <div class="card p-3">
              <img
                src="../../assets/img/libro.jpg"
                alt="producto 4"
                class="img-fluid"
                width="100"
                height="200"
              />
              <h4>Libro de naturaleza y aventura</h4>
              <p>
                Son idóneos para que pequeños y mayores amplíen conocimientos y
                reflexionen sobre la importancia de preservar a la madre
                naturaleza.
              </p>
              <hr />
              <h5 class="fw-bold">$ 20.000</h5>
              <button type="button" class="btn btn-primary">
                Agregar al carrito <i class="bi bi-cart-check-fill"></i>
              </button>
            </div>
          </div>
          <div class="col">
            <div class="card p-3">
              <img
                src="../../assets/img/peluche.webp"
                alt="producto 5"
                class="img-fluid"
                width="100"
                height="300"
              />
              <h4>Peluche de recuerdo</h4>
              <p>
                Este peluche es suave y cómodo, utiliza una delicada tela de
                felpa. La apariencia es moderna y bonita, adecuada para los
                niños la abracen.
              </p>
              <hr />
              <h5 class="fw-bold">$ 55.000</h5>
              <button type="button" class="btn btn-primary">
                Agregar al carrito <i class="bi bi-cart-check-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
